n8n/workflows/caso-automatico.json
{
  "name": "Automatizaci칩n de Casos Fiscales",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nuevo-caso",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-nuevo-caso",
      "name": "Webhook - Nuevo Caso",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"priority\"]}}",
              "operation": "equal",
              "value2": "critical"
            }
          ]
        }
      },
      "id": "if-critico",
      "name": "쮼s Cr칤tico?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/ai/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.FELIPE_API_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "Analiza la urgencia de este caso: {{$json[\"title\"]}} - {{$json[\"crime_type\"]}}"
            },
            {
              "name": "model",
              "value": "codellama"
            }
          ]
        }
      },
      "id": "analisis-ia",
      "name": "An치lisis IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "to": "fiscal.jefe@fiscalia.gov.co",
        "subject": "游뚿 CASO CR칈TICO DETECTADO - {{$json[\"case_number\"]}}",
        "message": "Se ha detectado un caso de prioridad cr칤tica:\n\nCaso: {{$json[\"title\"]}}\nImputado: {{$json[\"defendant\"]}}\nTipo: {{$json[\"crime_type\"]}}\n\nAn치lisis IA:\n{{$node[\"An치lisis IA\"].json[\"response\"]}}"
      },
      "id": "notificacion-critica",
      "name": "Notificaci칩n Cr칤tica",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "http://backend:8000/cases",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.FELIPE_API_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{$json[\"title\"]}}"
            },
            {
              "name": "defendant",
              "value": "={{$json[\"defendant\"]}}"
            },
            {
              "name": "crime_type",
              "value": "={{$json[\"crime_type\"]}}"
            },
            {
              "name": "priority",
              "value": "={{$json[\"priority\"]}}"
            }
          ]
        }
      },
      "id": "crear-caso",
      "name": "Crear Caso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"case_id\": \"{{$node[\"Crear Caso\"].json[\"id\"]}}\", \"message\": \"Caso creado y procesado autom치ticamente\"}"
      },
      "id": "respuesta-webhook",
      "name": "Respuesta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook - Nuevo Caso": {
      "main": [
        [
          {
            "node": "쮼s Cr칤tico?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "쮼s Cr칤tico?": {
      "main": [
        [
          {
            "node": "An치lisis IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear Caso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "An치lisis IA": {
      "main": [
        [
          {
            "node": "Notificaci칩n Cr칤tica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Caso": {
      "main": [
        [
          {
            "node": "Respuesta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}